/* You can add global styles to this file, and also import other style files */

/*
@import "bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
*/

app-flex-col {
  display: flex;
  flex-direction: column;
  /*
  height: 100%;
  */
  gap: 10px;
}

app-gap20 {
  gap: 20px;
}
app-gap10 {
  gap: 10px;
}
app-gap8 {
  gap: 8px;
}


app-flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

