@if(sparkEvent) {
  <div style="padding:8px;">
    <h3>SparkEvent Detail</h3>

    @if (sparkEvent.isStageSubmittedEvent()) {

    }
    @if (sparkEvent.isSqlStartEvent()) {

    }
    @if (sparkEvent.isSqlEndEvent()) {

    }
    @if (sparkEvent.sparkPlanInfoOpt) {
      <A [routerLink]="['/event', sparkEvent.eventNum, 'spark-plan' ]">Spark Plan</A>
      &nbsp;
      <A [routerLink]="['/sql', sparkEvent.sqlExecIdOpt, 'spark-plan' ]">Spark Plan (last by Sql Id)</A>
    }

    @if (sparkEvent.isSqlAdaptiveExecutionUpdateEvent()) {
    }

    <div style="white-space:pre-wrap; font-family: monospace; background:#f6f6f6; padding:8px; border-radius:4px;">
      {{ sparkEvent.displaySummary }}
    </div>

    <h4 style="margin-top:12px;">JSON</h4>
    <pre style="max-height:900px; overflow:auto; background:#fff; border:1px solid #eee; padding:8px;">
{{ sparkEvent | json }}
    </pre>

  </div>
} @else {
  <div style="padding:8px; color:#666;">No SparkEvent selected</div>
}

