<H2>Spark SQL {{ sparkSqlKey.execId }}</H2>
app: {{sparkSqlKey.displayText}}

@if (sqlExec) {

  <app-label-checkbox label="Show Jobs" [(checked)]="globalSettings.showJobsTimeline"/>
  <br/>
  <app-label-checkbox label="Show Tasks" [(checked)]="globalSettings.showTasks"/>
  <br/>
  <app-label-checkbox label="Show Plan" [(checked)]="globalSettings.showCurrentPlanInfo"/>
  <br/>

  <!--
  sqlExec

  -->
  @if(globalSettings.showJobsTimeline) {
    <div>Jobs</div>
    <button (click)="dump()">Dump</button>
    <div>
      <app-jobs-timeline [jobs]="sqlExec.jobs"
                         [executorCores]="sqlExec.executorCores"
                         [showTasks]="globalSettings.showTasks"
                         [relativeToStartTime]="sqlExec.startEvent?.time?.getTime()!"
                         />

    </div>

  }


  @if (sparkPlanTree) {
    @if (! sparkPlanTree.nodeDuplicatesWithinSqlExecAnalysis) {
      <button (click)="performNodeDuplicatesAnalysis()" [disabled]="disablePerformSparkPlanNodeDuplicatesAnalysis">
        Perform Node Duplicate Analysis</button>
    } @else {
      <div>
        Computed Node Duplicates Within SQL Exec Analysis,
        found: {{sparkPlanTree.nodeDuplicatesWithinSqlExecAnalysis.sameDuplicatesEntries?.length}} same duplicate entries,
        {{sparkPlanTree.nodeDuplicatesWithinSqlExecAnalysis.semanticDuplicatesEntries?.length}} semantic duplicate entries
        .
        <br/>
        <button (click)="onClickReduceAllInMemoryScanNodes()">Reduce Cached InMemory Nodes</button>
        <button (click)="onClickReduceAllSameDuplicateNodes()">Reduce Same Duplicate Nodes</button>
        <button (click)="onClickReduceAllSemanticDuplicateNodes()">Reduce Semantic Duplicate Nodes</button>

        <br/>
      </div>
    }


    <app-spark-plan-info-tree [model]="sparkPlanTree"/>
  }

}
